<nav class="navbar bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Loan Management System</a>
      <form class="d-flex" role="search">
        <a class="btn btn-danger" href="login" role="button">LogOut</a>
      </form>
    </div>
  </nav>
    <div class="container">
     <form>
        

<!-- Loan details -->
        
        <!-- Bank operations -->
        <div class="row">

            <h5>Bank Operations </h5>
            <hr>
            <div class="row">
                <div class="col-md-3 mb-2">
                    <div class="form-group">
                        <label for="applyloan">Apply for a loan</label>
                    </div>
                </div>
                <div class="col-md-3 mb-2">
                    <a class="btn btn-primary" href="/loanapplication" role="button">Apply for loan</a> 
                </div>
            </div>
        </div>
    </form>
</div>
