<div class="adminlisting mt-3">
    <div class="w-100 d-flex flex-row justify-content-center m-3 gap-3">
        <button type="button" class="btn btn-secondary">Approved</button>
        <button type="button" class="btn btn-secondary">Rejected</button>
        <button type="button" class="btn btn-secondary">Onhold</button>
    </div>
    <h3>Customer listing</h3>
    <table class="table table-bordered bg-default" style="border: 1px solid black;">
        <thead>
          <tr>
            <th scope="col">Customer Id</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Account number</th>
            <th scope="col">Account Status</th>
            <th scope="col">Date</th>
            <th scope="col">View</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="col">1</td>
            <td scope="col">Arun</td>
            <td scope="col">23423423</td>
            <td scope="col">Approved</td>
            <td scope="col">2022-02-02</td>
            <td scope="col"><a href="/viewaccount" style="text-decoration: none;">View account</a></td>
          </tr>
        </tbody>
      </table>

    <h3>Officers listing</h3>
    <table class="table table-bordered bg-default" style="border: 1px solid black;">
        <thead>
            <tr>
                <th scope="col">Officer Id</th>
                <th scope="col">Officer Name</th>
                <th scope="col">Status</th>
                <th scope="col">Date</th>
                <th scope="col">View</th>
              </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td scope="row">Mark</td>
            <td scope="row">Otto</td>
            <td scope="row">@mdo</td>
            <td scope="row"><a href="/viewaccount" style="text-decoration: none;">View account</a></td>
          </tr>
        </tbody>
      </table>
</div>