<!-- Section: Design Block -->
<section class="">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%);height: 100vh;">
      <div class="container">
        <div class="row gx-lg-5 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h1 class="my-5 display-4 fw-bold ls-tight">
              World's favorite banking partner <br />
              <span class="text-primary">now at your fingertips</span>
            </h1>
            <p style="color: hsl(217, 10%, 50.8%)">
              Best in-class services are now at your fingertips. 
              Experience new way of managing money with world's <span style="color: rgb(175, 39, 64)"> BEST Banking App</span>   
            </p>
          </div>
  
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card">
              <div class="card-body py-5 px-md-5">
                <form>
  
                  <!-- Email input -->
                  <div class="form-outline mb-3">
                    <input type="string" id="form3Example3" class="form-control" placeholder="Enter your Account Number"/>
                    <label class="form-label" for="form3Example3">Account Number</label>
                  </div>
  
                  <!-- Password input -->
                  <div class="form-outline mb-3">
                    <input type="password" id="form3Example4" class="form-control" placeholder="*************" />
                    <label class="form-label" for="form3Example4">Password</label>
                  </div>
  
                  <!-- Checkbox -->
                  <div class="form-check d-flex justify-content-left mb-3">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                    <label class="form-check-label" for="form2Example33">
                      Remember me
                    </label>
                  </div>
                  <div>
                    <label class="form-check-label" for="form2Example33">
                        Don't have an account? <a href="../user/userentry/userentry.component.html">Sign Up</a> 
                      </label>
                  </div>
  
                  <!-- Submit button -->
                  <button type="submit" class="btn btn-primary btn-block mt-3">
                    Login
                  </button>
                  
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->