<div class="container">
    <div class="header">
        <div class="list-row">
            <div class="input-group mb-3">
            <input type="text" class="form-control"
            placeholder="Search text here..."
            [(ngModel)]="filterString">
            </div>
        </div>
    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Asset ID</th>
                <th>Asset Name</th>
                <th>Class</th>
                <th>Asset Type</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let asset of assetsService.assets | filter:filterString | paginate:{itemsPerPage:4,currentPage:page}">
                <td (click)="populateForm(asset)">{{asset.adId}}</td> <!-- Edit / Delete -->
                <td (click)="populateForm(asset)"> {{asset.adName}}</td>
                
                <td (click)="populateForm(asset)">{{asset.adClass}}</td>
                <td>{{asset.assetType.atName}}</td>
                <td>
                    <button style="width:70px;height: 40px;" class="btn btn-primary" (click)="populateForm(asset)">
                        Edit
                    </button>
                    &nbsp;
                    <button style="width:70px;height: 40px;margin-top:3px;" class="btn btn-danger"
                        (click)="deleteasset(asset.adId)">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>

    </table>
    <div class="footer">
        <!--pagination-->
        <pagination-controls (pageChange)="page=($event)">

        </pagination-controls>
    </div>
</div>