<nav class="navbar bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Loan Management System</a>
      <form class="d-flex" role="search">
        <a class="btn btn-danger" href="userentry" role="button">GoBack</a>
      </form>
    </div>
  </nav>
<div class="container">
    <form>
        <!-- User credentials initializing -->
        <div class="row">
            <br>
            <h5>Enter the User credentials</h5>
            <hr>
            <div class="col-md-3 mb-2">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="email" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Enter username">
                    
                </div>
            </div>
            <div class="col-md-3 mb-2">
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    <small id="emailHelp" class="form-text text-muted">Make 8 character long password.</small>
                </div>
            </div>
            <div class="col-md-3 mb-2">
                <div class="form-group">
                    <label for="acccnumber">Account Number</label>
                    <input type="number" class="form-control" id="accnumber"  placeholder="acc-number">
                    <small id="accnumber" class="form-text text-muted">Type a 12-digit account number</small>

                </div>
            </div>
        </div>
<!-- User details -->
        <div class="row">
            <h5>Personal details </h5>
            <br>
            <hr>
            <div class="col-md-3 mb-2">
                <div class="form-group">
                    <label for="fullname">Fullname</label>
                    <input type="text" class="form-control" id="fullname" placeholder="Enter fullname">
                </div>
            </div>
            <div class="col-md-3 mb-2">
                <div class="form-group">
                    <label for="personalId">Enter ID number</label>
                    <input type="number" class="form-control" id="personalId" placeholder="personal-Id-number">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mb-2">
                <div class="form-group">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address" placeholder="Enter address">
                </div>
            </div>
            <div class="col-md-3 mb-2">
                <div class="form-group">
                    <label for="email">Enter Email Address</label>
                    <input type="email" class="form-control" id="email" placeholder="email-Id">
                </div>
            </div>
        </div>


        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">I accept the terms and conditions</label>
        </div>
        <a class="btn btn-primary" href="customerhome" role="button">Register</a>
      </form>
</div>

