<nav class="navbar bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Loan Management System</a>
      <form class="d-flex" role="search">
        <a class="btn btn-danger" href="login" role="button">LogOut</a>
      </form>
    </div>
  </nav>
<div class="container">
    <form>
        <div class="row">
            <label for=""> </label>
            <br>
            <br>
        </div>
        

<!-- Loan details -->
        <div class="row">

            <h5>Loan details </h5>
            <hr>
            <div class="col-md-3 mb-2">
                <div class="form-group">
                    <label for="loanAmount">Enter the loan amount</label>
                    <input type="number" class="form-control" id="loanAmount" placeholder="Enter loan amount">
                </div>
            </div>
            <div class="col-md-3 mb-2">
                <div class="form-group">
                    <label for="personalId">Enter type of Loan</label>
                    <select class="select form-control">
                        <option value="1" >Choose option</option>
                        <option value="2">Vehicle Loan</option>
                        <option value="3">Education Loan</option>
                        <option value="4">Home Loan</option>
                    </select>               
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mb-2">
                <div class="form-group">
                    <label for="loanDetails">Loan Details</label>
                    <input type="text" class="form-control" id="loanDetails" placeholder="Description">
                </div>
            </div>
        </div>




        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">I accept the terms and conditions</label>
        </div>
        <a class="btn btn-primary" href="customerhome" role="button">Submit Application</a> 
    </form>
</div>

